<body>
	<h1>Contact me</h1>
	<hr />
	<h4>Phone</h4>
	<p>(801) 666-6969</p>
	<h4>Email me</h4>
		<p><a href="mailto:karsonhatch@gmail.com?Subject=I%20want%20to%20hire%20you" target="_top">karsonhatch@gmail.com</a></p>

	<a href="/">back</a>