<body>
	<h1>My Resume</h1>
	<hr />
	<h4>Skillz</h4>
		<ul>
			<li>Dropping a beat</li>
			<li>Kicki'n it</li>
			<li>Effin shiz up</li>
		</ul>
	<h4>Came here to do 2 things</h4>
		<ol>
			<li>Kick Ass</li>
			<li>Chew Gum</li>
		</ol>
	<h4>Flaws</h4>
		<ul>
			<li>All out of gum</li>
		</ul>
		<a href="/">back</a>